SECRET_KEY=your_secret_key_here
DEPLOYMENT_ID=your_deployment_id_here
ISSUER=your_issuer_url_here
AUTHORIZATION_URL=your_auth_url_here
JWKS_ENDPOINT=your_jwks_endpoint_here
TOKEN_URL=your_token_url_here
TOOL_URL=your_tool_url_here
PRIVATE_KEY="your_private_key_here"
PUBLIC_KEY="your_public_key_here"
MAX_QUESTION_ATTEMPTS = 3
NO_SQL_DATABASE_NAME="virtu_educate"
NO_SQL_QUESTIONS_DATABASE_NAME="questions"
NO_SQL_GRADING_DATABASE_NAME="question_attempts"
NO_SQL_GRADING_RESPONSE_DATABASE_NAME="question_grading_response"
OPENAI_API_KEY=
FRONT_END_URL=
EDX_STUDIO_URL=
EDX_LMS_URL=
LEARNING_HISTORY_COLLECTION_NAME="learning_history"
ELASTIC_SEARCH_URL=
ELASTIC_SEARCH_API_KEY=

MONGO_URL=
CELERY_BROKER_URL=
REDIS_URL=

# QSTASH ONFIG
QSTASH_URL=
QSTASH_TOKEN=

QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
MAILER_SEND=
LTI_LAUNCH_URL=
ENCRYPTION_KEY=